@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

button:focus {
  outline: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  transition: 0.3s all ease-in-out;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8484ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8484ffe0;
}
